.section-about,
.section-help {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  
}

.section-about {
  margin-top: -20vh;
}

.section-help {
  &__link {
    &:link,
    &:visited {
      color: $color-primary;
    }

    &:hover,
    &:active {
      color: $color-primary;
      text-decoration: none;
    }
  }
}