.custom-table {
  background-color: $color-grey-dark-1;
  padding: 10rem 0;
  font-size: $medium-font-size;
  color: $color-grey-light-1;
  thead {
    text-transform: uppercase;
    color: $color-primary;
    font-size: $default-font-size;
    word-spacing: .2rem;
    letter-spacing: .2rem;
  }

  a {
    &:link,
    &:visited {
      color: $color-primary;
    }

    &:active,
    &:hover {
      text-decoration: none;
    }
  }
}