<% provide(:title, "Microposts") %>
<section class="section-microposts">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">
      All Microposts
    </h2>
  </div>

  <div class="row">
    <%= render 'microposts/micropost' %>
  </div>
</section>