<header class="header">
  <div class="header__logo-box">
    <%= image_tag("logo-white.png", alt: "LOGO WHITE", class: "header__logo") %>
  </div>

  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Sample App</span>
      <span class="heading-primary--sub">with Ruby on Rails</span>
    </h1>
    <%= link_to 'Discover Our MicroPosts', root_path, class: "btn btn--white btn--animated" %>
  </div>
</header>